<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= data.title %>
  </title>
</head>
<body>
    <%- include('layouts/header') %>
    <div class=" bg-gradient-to-r from-cyan-500 to-sky-950  h-full min-h-[93vh] flex justify-center items-center">
      <div>
        <p class="text-5xl text-white lowercase font-bold mb-10">
          <%= data.message %>
        </p>
          <div class="rounded-xl drop-shadow-2xl  bg-white p-10">
            <p>
              <%= data.contact.name %>
            </p>
            <p>
              <%= data.contact.email %>
            </p>
            <p>
              <%= data.contact.mobile %>
            </p>
          </div>
        </div>
      </div>
</body>
</html>